# Welcome to our weekly worksheets :) 

As you can see the worksheet are Jupyter Notebooks which you will be expected to download, fill in, submit PLUS answer the corresponding google form. For this worksheet, the Google form can be found here:

https://forms.gle/Fh1p1AmoYZSJv7VS8

You will receive an inaccurate mark through the Google Form (since there's no AI there) and I will be manually updating the marks once I go through your submissions. 

Note that Submissions are allowed until __26th October 2021 noon__.

Remember, you are EXPECTED to make thorough use of Python documentation to solve the worksheets, especially as things get a bit more challenging. The first ones should be easy-peasy :) 


## Q1. 
If you are trying to print a string, what happens if you leave out one of the quotation marks or both? What are the errors you get?

In [1]:
print("String)

SyntaxError: EOL while scanning string literal (<ipython-input-1-0a6cb7face8f>, line 1)

## Q2

2. You can use a minus sign to make a negative number like -2. What happens if you put a plus sign before a number? What about 2++2? Or 2++++3?

In [2]:
-2

-2

In [3]:
+2

2

In [4]:
2++2

4

In [5]:
2++++3

5

## 3(a)

In math notation, leading zeros are ok, as in 09. What happens if you try this in Python? What about 011? What is this error about?

In [6]:
09

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-6-9bb4877861be>, line 1)

In [7]:
011

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-7-2e9780ecac58>, line 1)

## 3(b)

Try out the statement 

    0o011 

and the statement 

    0x11
    
What do you get? Explain the output.

In [71]:
0o011 # number denotes octal

9

In [72]:
0x11 # number denotes hexadecimal

17

In [73]:
print("0o notation for octal , 0x notation for hexadecimal")

0o notation for octal , 0x notation for hexadecimal

## Q4
What happens if you have two values with no operator between them?

In [11]:
2 3

SyntaxError: invalid syntax (<ipython-input-11-4142a0c1dd52>, line 1)

In [12]:
67 8

SyntaxError: invalid syntax (<ipython-input-12-5b63182a61ca>, line 1)

## Q5
Using Python as a calculator, how many seconds are there in 42 minutes 42 seconds?

In [15]:
42*60+42

2562

## Q6
How many miles are there in 10 kilometres? (There are 1.61 kilometres in a mile)

In [16]:
10/1.61

6.211180124223602

## Q7
What are the following operators (and experiment with different numbers to understand what's happening): 
```python
    7//4 
    7%4 
    2**3
```

In [18]:
7//4

1

In [19]:
7%4

3

In [20]:
2**3

8

In [21]:
4//2

2

## 8a
What happens when Python executes the statement: 
```python
a = 5
```

In [17]:
a=5

## 8b
If you write the statement __a+a__, what is the value of a now?

In [22]:
a+a

10

In [23]:
print(a)

5

## 8c
What is the value of __a__ after the following statement 
```python
a = a + a
```

In [24]:
a=a+a

In [25]:
print(a)

10

## 9a
Create a variable and assign an integer to it. Check its value. Now assign a string to this variable. What happens? Do you get an error? Try checking for the variable type in each instance by using the python function type(), e.g. 
```python
    type(a)
```

In [1]:
num=3
type(num)

int

In [2]:
num="name"
type(num)

str

## 10a
What is the value of the variable a after these two statements:
```python
    a = 5
    a += 10
```

In [28]:
a=5
a+=10
print(a)

15

## 10b
Now try the following operators and explain what they do: (i) -=   (ii)  *=    (iii)   /=

In [70]:
a=5
a-=3
print(a)
a=5
a*=3
print(a)
a=5
a/=3
print(a)

2
15
1.6666666666666667

## Q11a.
11a. Write the code to print a string containing the word: __don't__

Is there a way that the print statement would result in a syntax error?

In [36]:
print("don't")

don't

In [37]:
print("An error would occur if double inverted commas are not done")

An error would occur if double inverted commas are not done

## Q11b 
Print a string containing a new line, that is the output of a single print statement should be:

    hello
    world!

In [39]:
print("hello \nworld!")

hello
world!

## Q11c
Use python's built-in function 
```python
    len()
```
to determine the length of a string, using the string:
```python
s = "Hello World!"
```

In [40]:
s = "Hello World!"
len(s)

12

## 11d
Given the statement 
```python
s = "Hello World!"
```
which index do I need to use to print the first character of the string s?

In [64]:
s[0]

'H'

## Q11e
How would you index the last character of the variable? _The solution must be generic for any string length_.

In [63]:
s[len(s)-1]

'!'

## Q12a
What do you get when you use the statement 
```python 
s[:3]
```

In [45]:
s[:3]

'Hel'

## Q12b
Why doesn't the statement __s[:2]__ capture __'l'__ which is in position __s[2]__?

In [46]:
s[:2]

'He'

In [47]:
s[2]

'l'

## Q12c
What is the statement 
```python
s[:]
```
equivalent to?

In [48]:
s[:]

'Hello World!'

## Q12d
What is the statement 
```python
s[-1]
```
equivalent to?

In [49]:
s[-1]

'!'

## Q12e
What does the statement 
```python
s[:-1]
```
do?

In [50]:
s[:-1]

'Hello World'

## Q12f
Try out the following statements one by one, what's happening: 
```python
s[::1]
s[::2]
```

In [52]:
s[::1]

'Hello World!'

In [53]:
s[::2]

'HloWrd'

## Q12g
Try our the statement 
```python
s[::-1]
```
what does it do?

In [54]:
s[::-1]

'!dlroW olleH'

## Q12h
In Python, strings are __immutable__, i.e. once a string is created, the elements within it cannot be changed or replaced. What error do you get if you try the statement 
```python
s[0] = 'x'
```

In [55]:
s[0] = 'x'

TypeError: 'str' object does not support item assignment

## Q12i
However, we can still add to a string through concatenation. This is done using the __plus__ operator. How would you add something else to our current string __s__? (e.g. add another two exclamation marks at the end of the string.)

In [56]:
s=s+"!!"

In [57]:
print(s)

Hello World!!!

## Q12j
Try changing the case of a string using python's built-in functions: upper, lower() and capitalize()

In [58]:
s.upper()

'HELLO WORLD!!!'

In [59]:
s.lower()

'hello world!!!'

In [60]:
s.capitalize()

'Hello world!!!'

## Q12k
We can also split a string using the function __split()__ - if no parameter is provided to the function, it will split on the blank spaces. If a parameter is provided, it will split according to where it finds that parameter. Try both these statements:
```python
s.split()
s.split('W')
```
What is the result of the last statement?

In [61]:
s.split()

['Hello', 'World!!!']

In [62]:
s.split('W')

['Hello ', 'orld!!!']