# Task 2B - Tuples

In order to complete this task sheet, you will probably need to search using your favourite search engine. Here is one starting point:

https://www.w3schools.com/python/python_tuples.asp 


As in previous tasks, you can find the google form to upload your comments here:

https://forms.gle/V1Q9bsQRJS9Gv9247 

Remember to submit your code through the VLE as well.

Submission Data for this task is: __2nd November 2021, noon__



### Q1a

There are a few ways in terms of syntax to create a tuple:  
```python
t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = tuple('abc')
```

(i) Try out all these ways. 

(ii) print out the content and check for their types. 

What is happening with the last statement? 

(iii) Try the above ways to create a tuple with a single element. Again check the type of the variable.

Do you manage to get some errors, and if yes, explain what's going on.

In [1]:
t1 = 'a', 'b', 'c'
print(t1)
type(t1)

('a', 'b', 'c')

tuple

In [2]:
t2 = ('a', 'b', 'c')
print(t2)
type(t2)

('a', 'b', 'c')

tuple

In [3]:
t3 = tuple('abc')
print(t3)
type(t3)

('a', 'b', 'c')

tuple

In [1]:
print("The last statement separates the letters into three different entities")

The last statement separates the letters into three different entities

In [5]:
t5 = '7'
print(t5)
type(t5)

7

str

In [6]:
t6 = ('7')
print(t6)
type(t6)

7

str

In [7]:
t7 = tuple('7')
print(t7)
type(t7)

('7',)

tuple

### Q1b
Create a tuple __t4__ that contains a single element __'a'__. Write the code:

In [8]:
t4 = tuple('a')

In [9]:
print(t4)

('a',)

### Q1c

We saw in Q1a that the function tuple() __'explodes'__ the string into individual characters. This function accepts only (i) a string; (ii) a list or (iii) a tuple. Try it out and experiment with different parameters. Do you get any errors?

In [10]:
tupl1=tuple("abc")
print(tupl1)

('a', 'b', 'c')

In [11]:
my_list=[1,2,3,4]
tupl2=tuple(my_list)
print(tupl2)

(1, 2, 3, 4)

In [12]:
tupl4=("Hello","World")
tupl3=tupl4
print(tupl3)

('Hello', 'World')

### Q2. 
How do you check for the length of t1?

In [13]:
len(t1)

3

### Q3. 
Accessing elements in a tuple works very similar to lists. How would you access the first element of t1?

In [14]:
t1[0]

'a'

### Q4. 
How would you access the first two elements of t1?

In [15]:
t1[:2]

('a', 'b')

### Q5. 
Python provides the __index()__ function that allows us to search for a particular element and it will return its index if found. 

Try out t1.index('a')

And now try searching for an element that is not present in the tuple. What error do you get?

In [16]:
t1.index('a')

0

In [17]:
t1.index('notfound')

ValueError: tuple.index(x): x not in tuple

### Q6. 
We said tuples are immutable. Let's double-check this! Try to reassign t1[0] to another value. What error do you get?

In [18]:
t1[0]="new"

TypeError: 'tuple' object does not support item assignment

### Q7.
Try using the __append()__ function to add an item (e.g. 'x') to t1. What error do you get?

In [19]:
t1.append("d")

AttributeError: 'tuple' object has no attribute 'append'

### Q8. 
However, we can cheat through a reassignment. Try out the code 
```python
t1 = ('x',) + t1[1:]
```

What is happening here?

In [35]:
t1 = ('x',) + t1[1:]
print(t1)

('x', 'b', 'c')

In [20]:
print("Replaces the first element")

Replaces the first element

### Q9a. 
Try adding two tuples together using the '+' operator. What happens?

In [21]:
t7=t1+t2

In [22]:
print(t7)

('a', 'b', 'c', 'a', 'b', 'c')

### Q9b. 
Now, try adding two tuples together using the ',' operator. What happens?

In [23]:
t8=t1,t2

In [24]:
print(t8)

(('a', 'b', 'c'), ('a', 'b', 'c'))

### Q10. 
Try subtracting two tuples? What happens and why?

In [25]:
t9=t1-t2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

### Q11. 
Try the comparison operators: '<' '>' and '==' with two different/same tuples. How are the elements in a tuple compared to each other? _HINT: for this, it might be easier to use tuples containing integer values. But you should definitely experiment with other types!_

In [26]:
tupple10=(1,2,3,4)
tupple11=(6,7,8,9)
tupple12=(1,2,3,4)

In [28]:
tupple10==tupple12

True

In [29]:
tupple10==tupple11

False

In [30]:
tupple10>=tupple12

True

In [31]:
tupple10<tupple11

True

In [32]:
tupple10>tupple11

False

In [34]:
tupple10<=tupple12

True

In [35]:
t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = tuple('def')

In [36]:
t1==t2

True

In [39]:
t1>t3

False

In [38]:
t1<t3

True