# Task 3A - Sets

In order to complete this task sheet, you will probably need to search using your favourite search engine. Here is one starting point:

https://www.w3schools.com/python/python_sets.asp 

https://docs.python.org/3.8/library/stdtypes.html#set 


As in previous tasks, you can find the google form to upload your comments here:

https://forms.gle/RTF8sa3MYkjZWV869

Remember to submit your code through the VLE as well.

Submission Data for this task is: __9th November 2021, noon__


### Sets 
... are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works


### Q1
To create a set, we call the function set(), e.g. 
```python
a = set()
```
To add elements to a set, we use the method __add()__ and pass on the element as a parameter.
Write the code to (i) initialise a as a set; (ii) check the type of a; (iii) add element to a, say integer 1, then string "hello".

In [1]:
a = set()

In [3]:
a = {"apple", "banana", "cherry"}

In [7]:
print(type(a))

<class 'set'>

In [11]:
a.add(1)
print(a)

{1, 'cherry', 'apple', 'hello', 'banana'}

In [12]:
a.add("hello")
print(a)

{1, 'cherry', 'apple', 'hello', 'banana'}

### Q1b

What happens if you try to add 1 or "hello" again to a?

In [13]:
a.add(1)
print(a)

a.add("hello")
print(a)

{1, 'cherry', 'apple', 'hello', 'banana'}
{1, 'cherry', 'apple', 'hello', 'banana'}

### Q2a. 
Try to add two items to a set using the __add()__ method. What happens? What if you try 
```python
a.add("b", "c")
```

In [14]:
a.add("b", "c")

TypeError: add() takes exactly one argument (2 given)

### Q2b.
Now try adding a list with two elements ['a','b'] - What happens? What is different from the previous Error?

In [29]:
list=['a','b']
a.add(list)
print(a)

TypeError: unhashable type: 'list'

### Q2c.
Finally, try adding a tuple containing ('a','b') - Why does this work?!

In [17]:
tuple = ('a','b')
a.add(tuple)
print(a)

{1, ('a', 'b'), 'cherry', 'apple', 'hello', 'banana'}

### Important sidenote

With sets you can add different types of elements because they are unordered - so python does not need to compare the values of 1 as an integer and 'd' as a character. In fact, if you try 'd' < 1 you will get an error saying that '<' is not supported between instances of 'str' and 'int'. If this were an ordered datatype, we would have a problem adding elements which cannot be compared to eachother!

### Q3a. 
Sets have another function to add elements to it: update(). Write the code to add item 'x'.

In [18]:
a.update('x')
print(a)

{1, ('a', 'b'), 'cherry', 'apple', 'hello', 'banana', 'x'}

### Q3b.
Now, try the same function but instead pass the list [1,2,3] as a parameter to the update function. What do you think is happening?

In [20]:
 list= [1,2,3]
a.update(list)
print(a)

{1, 2, 3, ('a', 'b'), 'cherry', 'apple', 'hello', 'banana', 'x'}

### Q4a. 
It is possible to have a list of elements and convert it into a set by passing the list as a parameter to the set function. Create the following list and test this out by creating a new set __s1__. 
```python
list1 = [1,2,20,6,210]
```
What is happening to the order in the set?

In [3]:
list1 = [1,2,20,6,210]
s1=set(list1)
s1

{1, 2, 6, 20, 210}

### Q4b. 
Try out the same code as above, but this time, include a string in the list of elements, e.g. 
```python
list1 = [1,"two",4,3,5, 0.3]
```
This code above should work out as expected. However, if you had to run this code:
```python
s1 = set("two")
```
__two__ is treated differently - What is happening this time round?

In [42]:
list1 = [1,"two",4,3,5, 0.3]
s1=set(list1)
s1

{0.3, 1, 3, 4, 5, 'two'}

In [46]:
s1 = set("two")
s1

{'o', 't', 'w'}

In [45]:
print(s1)

{'t', 'w', 'o'}

### Q5. 
Try accessing a set element in a similar way as we would with a list. What happens and why?

In [25]:
s1[0]

TypeError: 'set' object is not subscriptable

### Q6. 
Now try the following statement: __X in set1__ (change X with an element in your set, and set1 with the variable name of your set. e.g.:
```python
4 in s1
```

In [26]:
't' in s1

True

### Q7. 
There are some other methods that we use with sets. Try remove() and discard() - try removing elements that are in the set and those that aren't in the set - what's the difference in behaviour between these two methods?

In [30]:
b = {"apple", "banana", "cherry"}

In [31]:
b.remove("apple")
print(b)

{'cherry', 'banana'}

In [32]:
b.discard("cherry")
print(b)

{'banana'}

In [33]:
b = {"apple", "banana", "cherry"}

In [34]:
b.remove("a")
print(b)

KeyError: 'a'

In [35]:
b.discard("word")
print(b)

{'apple', 'cherry', 'banana'}

### Q8. 
Try also the pop() function - what happens?

In [ ]:
b = {"apple", "banana", "cherry"}

In [36]:
b.pop()

'apple'

In [37]:
b.pop()

'cherry'

In [38]:
b.pop()

'banana'